<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/users.css}">
</head>
<body th:if="${session.loggedUser}">


<h1 class="test"> Welcome, <span th:text="${session.loggedUser}"> </span> </h1>

<div class="user">
    <table>
        <tr>
            <th> username </th>
            <th> password </th>
            <th> employee type</th>
            <th> is admin?</th>
        </tr>
        <tr th:each="i : ${employees}">
            <td th:text="${i.username}">username</td>
            <td th:text="${i.password}">password</td>
            <td th:text="${i.employeeType}">employee type</td>
            <td th:text="${i.isAdmin}">is admin</td>
        </tr>
    </table>
</div>
    <div class ="adminButtons" th:if="${session.employeeTitle}">
    <button class="addUser"> Click here to create a new user</button>
    <button class="removeUser"> Click here to remove user </button>
    </div>


</body>
</html>